<mat-toolbar color="accent">
    <div style="font-weight: 700;color: #E6F4F1">
        Wave binder
    </div>
</mat-toolbar>
<div style="margin: 10px">
    <mat-card style="padding: 10px 30px 20px; ">
        <div class="drop_box">
            <h2> Configuration</h2>
            <p *ngIf="configurationFileName==null"> Files Supported: JSON</p>
            <p *ngIf="configurationFileName!=null">File uploaded: {{ configurationFileName }}</p>
            <input type="file" hidden #configuration accept=".json" (change)="uploadConfiguration($event)"/>
            <button mat-raised-button color="accent" (click)="configuration.click()">
                Upload file
            </button>
        </div>
    </mat-card>
    <div style=" display: inline-grid; grid-template-columns: auto auto;margin-top: 10px; column-gap: 20px" >
        <mat-card style="width: 300px;padding: 15px;">
            <mat-form-field>
                <mat-label>Regione</mat-label>
                <mat-select (selectionChange)="setValue($event.value,'region')">
                    <ng-container *ngFor="let element of waveBinder?.getNodeByName('region').choices">
                        <mat-option [value]="element">{{ element }}</mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Provincia</mat-label>
                <mat-select (selectionChange)="setValue($event.value, 'province')">
                    <ng-container *ngFor="let element of this.waveBinder?.getNodeByName('province').choices">
                        <mat-option [value]="element">{{ element }}</mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Comune</mat-label>
                <mat-select (selectionChange)="setValue($event.value, 'city')">
                    <ng-container *ngFor="let element of this.waveBinder?.getNodeByName('city').choices">
                        <mat-option [value]="element">{{ element }}</mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>
        </mat-card>
        <mat-card style="width: 300px;padding: 15px;">
        <pre>{{ getDataPool() }}</pre>
        </mat-card>
    </div>
</div>


