.mat-tab {
  margin: 4% 5% 5% 5%;
}

mat-card {
  height: 85%;
  width: 80%;
  background: #e2e0e7;
}

h4 {
  color: #23093f;
  padding-bottom: 2%;
  margin: 3% 0 0 0;
}

span {
  font-size: large;
}
